[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
numpy = "*"
jupyter = "*"
notebook = "*"
pandas = "*"
sklearn = "*"
itertools = "*"
gensim = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.7"
